.pagelayout-login #page {
    background-color: $evoke-bg-dark;
    background: initial;
    background-image: initial;

    .login-container {
        background-color: $evoke-bg-dark-secondary;
    }
}
