{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{config.wwwroot}}/theme/evoke/js/libs/gsap/gsap.min.js" defer></script>
    <script src="{{config.wwwroot}}/theme/evoke/js/libs/gsap/ScrollTrigger.min.js" defer></script>
    <script src="{{config.wwwroot}}/theme/evoke/js/libs/gsap/ScrollSmoother.min.js" defer></script>

    <script src="{{config.wwwroot}}/theme/evoke/js/frontpage.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body {{{ bodyattributes }}} style="background-image: url({{config.wwwroot}}/theme/evoke/pix/frontpage/bg.jpg);">

<div class="wrapper">
    <div class="content">

        <header class="hero-section">
            <img data-speed=".6" class="hero" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/hero.png" alt="Evoke Project" >
            <div class="container">
                <div data-speed=".75" class="main-header">
                    <h1 class="main-title">evoke project
                        <a class="btn btn-link" href="{{config.wwwroot}}/login/"><i class="fa fa-user-secret small"></i> access project</a>
                    </h1>
                </div>
            </div>
        </header>

        <div class="portfolio">
            <div class="container">
                <main class="gallery">

                    <div data-speed=".9" class="gallery__left">

                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/1.jpg" alt="Alt">
                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/2.jpg" alt="Alt">

                        <div class="text-block gallery__item">
                            <h2 class="text-block__h">Creative floating scroll with amazing parallax effect</h2>
                            <p class="text-block__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.</p>
                        </div>

                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/6.jpg" alt="Alt">

                    </div>

                    <div data-speed="1.1" class="gallery__right">

                        <div class="text-block gallery__item">
                            <h2 class="text-block__h">Creative floating scroll with amazing parallax effect</h2>
                            <p class="text-block__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.</p>
                        </div>

                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/4.jpg" alt="Alt">
                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/5.jpg" alt="Alt">
                        <img class="gallery__item" src="{{config.wwwroot}}/theme/evoke/pix/frontpage/3.jpg" alt="Alt">

                    </div>

                </main>
            </div>
        </div>

    </div>
</div>

<div id="page-wrapper" class="d-print-block d-none">

    {{{ output.standard_top_of_body_html }}}

    {{{ output.course_content_header }}}
    {{{ output.main_content }}}
    {{{ output.course_content_footer }}}

    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
        Drawer.init();
        M.util.js_complete('theme_boost/loader');
    });
{{/js}}
